<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Тег IMG</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />  
 </head>
 <body> 
	<p><img src= "img/header.png" class="header" alt="no" width="100%" >  </p>

 </body>
</html>