<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Тег IMG</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  
  
  
 </head>
 <body> 
	<!--<p><img src= "img/header2.png" class="header2" alt="lorem" width="100%" height="255">  </p>-->
	<p><img src= "img/header2.png" class="header2" alt="no" width="100%" ></p>

 </body>
</html>