<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  //background-color: #415fab;
  background-color: #116cc9;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  //color: #818181;
  //color: #00C1F7;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  //color: #f1f1f1;
  color: #05C1F7;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/">Моніторинг стану оплати </a>
		<a href="/vn">Формуляри за добу</a>
		<a href="/evends">Показники по діям водіїв </a>
		<a href="/agent">Показники валідацій</a>
		<a href="/equips">Стан обладнання</a>
		<a href="/intrips">Моніторинг рейсів</a>
        <a href="/logout">Вихід<img src="img/exit.png" width="13%"></a>
        <center><img src="img/menu_card.png" width="75%"></center>
        <a href="/st">Турнікети КПТ<img src="img/entry.png" width="13%"></a>
        <a href="/metro">Метро<img src="img/entry.png" width="13%"></a>
</div>

<div class="container-fluid">
    <img style="font-size:30px;cursor:pointer" onclick="openNav()" src="img/menu.png">
    <img style="float: right; padding-right: 20px;" src="img/logo.png">
    <div class="btn-toolbar" style="padding-top: 70px; padding-left: 210px">
        <button type="button" id="greenLegend" class="btn btn-legend-green">все гаразд</button>
        <button type="button" id="yellowLegend" class="btn btn-legend-yellow">робота з відхиленнями</button>
        <button type="button" id="greyLegend" class="btn btn-legend-grey">наявні проблеми</button>
        <button type="button" id="orangeLegend" class="btn btn-legend-orange">потребує огляду</button>
    </div>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
</html>
