<link rel="stylesheet" type="text/css" href="dist/jsgrid.css" />
<link rel="stylesheet" type="text/css" href="dist/jsgrid-theme.css" />
<link rel="stylesheet" type="text/css" href="jquery-ui.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="jquery.js"></script>
<script src="jquery-ui.js"></script>
<script type="text/javascript" src="/dist/jsgrid.js"></script>
<script type="text/javascript" src="/dist/i18n/jsgrid-ua.js"></script>
<center>
    <div>
        <h2 style="display: inline-block; padding-top: 20px" id="countLit">Users:</h2>
    </div>
</center>
<div id="jsGridAdm"></div>

<br><br>
<center>
<div>
    <h2 style="display: inline-block">Roles:</h2>
</div>
</center>


<div id="jsGridRole"></div>


<div id="dvjson"></div>
<script type="text/javascript" src="js/jsGridCustomTypes.js"></script>
<script type="text/javascript" src="js/sampleAdm.js"></script>
<script type="text/javascript" src="js/sampleRoles.js"></script>
