<!-- 20200729 редставления помилки виконання  -->
<html>

<head>
	<title>Помилка</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" type="text/css" href="../../bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../style.css" />
	<link rel="stylesheet" href="../../font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../../fonts.css" />
	<script type="text/javascript" src="../../bootstrap.min.js"></script>
</head>

<body>
    {{> loader}}
	{{> header_2}}
	<div class="clearfix"></div>
    <center>
    <h1 style="padding-top: 100px">Помилка при виконанні</h1>
			<div>{{error}}</div></center>

    <br><center><a href="/" class="btn btn-sm btn-primary">Назад</a></center>
    </center>
    {{> footer}}
</body>

<script>
    document.getElementById("loader").style.display = "none";
</script>
<html>
