<html>
<head>
    <title>Детально валідації</title>
    <meta charset="utf-8" />
	
	<link rel="stylesheet" type="text/css" href="../../bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../style.css" />
	<link rel="stylesheet" href="../../font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../../fonts.css" />
	<script type="text/javascript" src="../../bootstrap.min.js"></script>   
</head>
<body>
    {{> menu_1}}
	{{> header}}
    {{> modalLegend}}
	
<div class="clearfix"></div>
<div class="container">
	
	<div class="row">  
	<h3>Перелік описаних номерів обладнання турнікетів</h3>
	  <div> {{locaton}}</div>
	  <br>	
	<h3>Перелік проблемних валідацій</h3>	
      <div>{{tNum}}</div> 
	   
    </div><!-- row -->
    </div><!-- container -->

</body>
<html>