<!-- 20200731 форма формирование мониторинга оборудования, що надійшло з АСОП -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Список логів обладнання, що надійшли з АСОП</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="stylesheet" href="font-awesome.css">
	<link rel="stylesheet" type="text/css" href="fonts.css" />
	<link rel="stylesheet" type="text/css" href="gridview.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap-datepicker.css" />
	<script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="gridview.js"></script>
    <script src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="bootstrap-datepicker.uk.min.js"></script>
</head>
<body>
{{> loader}}
{{> menu}}
{{> header_2}}
{{> modalLegend}}
<img class="rounded-circle" id="profile-preview" src="img/user.png" style="float: right; padding-top: 15px; cursor: pointer; ">
{{> profile}}
<h2  align="center">Список стану обладнання рухомих одиниць, що надійшли з АСОП</h2>
<div id="wrapper">
    <div class="external-borders-big">
        <div id="ten">
            <table id='ptable' class="table table-condensed table-striped table-bordered">
                <thead>
                <tr><th>№</th>
                <th>Час повідомлення</th>
                <th>Вид транспорту</th>
                <th>UID</th>
                <th>ІД контролера</th>
                <th>Рухома одиниця</th>
                <th>Час роботи</th>
                <th>Версія прошивки контролера</th>
                <th>Валідатори</th>
                <th>Безперервна робота ПО</th>
                <th>Стан бортової системи</th>
                <th>Дані gps</th>
                <th>Термінал водія</th>
                <th>Поточний рейс</th>
                </tr></thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
	<br>

    <script>
         var store;
       // Получение всех пользователей
        function GetUsers() {
            document.getElementById("loader").style.display = "block";
            $.ajax({
                url: "/api/qvausers",
                type: "GET",
                contentType: "application/json",
                success: function (users) {
                    var rows = "";
                    $.each(users, function (index, user) {
                        // добавляем полученные элементы в таблицу
                        rows += row(user);
                    })
                    ////$("table tbody").append(rows);
                    store = users;
                    document.getElementById("loader").style.display = "none";
                 }
            });
        }
        // Получение одного пользователя
        function GetUser(id) {
            $.ajax({
                url: "/api/qvausers/"+id,
                type: "GET",
                contentType: "application/json",
                success: function (user) {
                    var form = document.forms["userForm"];
                    form.elements["id"].value = user.id;
                    form.elements["timestamp"].value = user.timestamp;
                    form.elements["line"].value = user.ext_driver_id;
					form.elements["trip_id"].value = user.duty_code;
					form.elements["passengers"].value = user.route ;
					form.elements["stop_code"].value = user.ext_trip_id;
					form.elements["stop_sequence"].value = user.event;
					//form.elements["location_id"].value = user.location_id;
					//form.elements["product_id"].value = user.product_id;
					//form.elements["card_id"].value = user.card_id;
					//form.elements["doc_num"].value = user.doc_num;
                }
            });
        }

        // Добавление пользователя
        function CreateUser(timestamp, line, trip_id, passengers, stop_code, stop_sequence, location_id, product_id, card_id, doc_num) {
            $.ajax({
                url: "api/qvausers",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    timestamp : timestamp,
					line : line,
					trip_id : trip_id,
					passengers : passengers,
					stop_code : stop_code,
					stop_sequence : stop_sequence,
					location_id : location_id,
					product_id : product_id,
					card_id : card_id,
					doc_num : doc_num
                }),
                success: function (user) {
                    reset();
                    $("table tbody").append(row(user));
                    g.updateDataStoreRow(user);
                    g.pgShowLastPage();
                }
            })
        }

        // Изменение пользователя
        function EditUser(userId, timestamp, line, trip_id, passengers, stop_code, stop_sequence, location_id, product_id, card_id, doc_num) {
            $.ajax({
                url: "api/qvausers",
                contentType: "application/json",
                method: "PUT",
                data: JSON.stringify({
                    id: userId,
                    timestamp : timestamp,
					line : line,
					trip_id : trip_id,
					passengers : passengers,
					stop_code : stop_code,
					stop_sequence : stop_sequence,
					location_id : location_id,
					product_id : product_id,
					card_id : card_id,
					doc_num : doc_num
                }),
                success: function (user) {
                    reset();
                    $("tr[data-rowid='" + user.id + "']").replaceWith(row(user));
                    g.updateDataStoreRow(user);
                }
            })
        }

        // сброс формы
        function reset() {
            var form = document.forms["userForm"];
            form.reset();
            form.elements["id"].value = 0;
        }

        // Удаление пользователя
        function DeleteUser(id) {
			var isDelete = confirm("Видалити запис?");
			if(isDelete)
				{
				$.ajax({
					url: "api/qvausers/"+id,
					contentType: "application/json",
					method: "DELETE",
					success: function (user) {
						//console.log(user);
						$("tr[data-rowid='" + user.id + "']").remove();
                                                g.deleteDataStoreRow(user);
					}
				})
				}
        }

        // создание строки для таблицы
        var row = function (user) {
		if (typeof user.Note_time == "undefined") user.Note_time =" ";
		if (typeof user.Location_type == "undefined") user.Location_type =" ";
		if (typeof user.Device_ID == "undefined") user.Device_ID =" ";
		if (typeof user.Location == "undefined") user.Location =" ";
		if (typeof user.Event == "undefined") user.Event =" ";
		if (typeof user.Message_uptime == "undefined") user.Message_uptime =" ";
		if (typeof user.Message_fwVersion == "undefined") user.Message_fwVersion =" ";
		if (typeof user.Message_validators == "undefined") user.Message_validators =" ";
		if (typeof user.Message_transitDatabaseVersion == "undefined") user.Message_transitDatabaseVersion =" ";
		if (typeof user.Message_applicationUptime == "undefined") user.Message_applicationUptime =" ";
		if (typeof user.Message_systemState == "undefined") user.Message_systemState =" ";
		if (typeof user.Message_gps == "undefined") user.Message_gps =" ";
		if (typeof user.Message_driverInterface == "undefined") user.Message_driverInterface =" ";
		if (typeof user.Message_service_id == "undefined") user.Message_service_id =" ";
            return "<tr data-rowid='" + user.id + "'><td>" + user.id + "</td>" +
                   "<td>" + user.Note_time.substr(0,10)+" "+user.Note_time.substr(11,8) + "</td>" +
				   "<td>" + user.Location_type + "</td>" +
				   "<td>" + user.Event + "</td>" +
				   "<td>" + user.Device_ID+ "</td>" +
				   "<td>" + user.Location + "</td>" +
				   "<td>" + user.Message_uptime + "</td>" +
				   "<td>" + user.Message_fwVersion + "</td>" +
				   "<td>" + user.Message_validators + "</td>" +
				   "<td>" + user.Message_applicationUptime + "</td>" +
				   "<td>" + user.Message_systemState + "</td>" +
				   "<td>" + user.Message_gps + "</td>" +
				   "<td>" + user.Message_driverInterface + "</td>" +
				   "<td>" + user.Message_service_id + "</td>" +
				   "</tr>";
        }

        // сброс значений формы
        $("#reset").click(function (e) {
            e.preventDefault();
            reset();
        })

        // отправка формы
        $("form").submit(function (e) {
            e.preventDefault();
            var id = this.elements["id"].value;
            var timestamp = this.elements["timestamp"].value;
            var line = this.elements["line"].value;
			var trip_id = this.elements["trip_id"].value;
            var passengers = this.elements["passengers"].value;
			var stop_code = this.elements["stop_code"].value;
            var stop_sequence = this.elements["stop_sequence"].value;
			var location_id = this.elements["location_id"].value;
            var product_id = this.elements["product_id"].value;
			var card_id = this.elements["card_id"].value;
            var doc_num = this.elements["doc_num"].value;
            if (id == 0)
                CreateUser(timestamp, line, trip_id, passengers, stop_code, stop_sequence, location_id, product_id, card_id, doc_num);
            else
                EditUser(id, timestamp, line, trip_id, passengers, stop_code, stop_sequence, location_id, product_id, card_id, doc_num);
        });

        // нажимаем на ссылку Изменить
        $("body").on("click", ".editLink", function () {
            var id = $(this).data("id");
            GetUser(id);
        })
        // нажимаем на ссылку Удалить
        $("body").on("click", ".removeLink", function () {
            var id = $(this).data("id");
            DeleteUser(id);
        })

                 function InitPaging(ag)
               {
                 ag.renderRow = row;
                 var f = function ()
                 {
                    ag.updateDataStore(store);
				ag.InitPaging(true,2);
                    ag.pgShowFirstPage();
                 };
                   setTimeout(f,2000);
              }

        // загрузка пользователей
        GetUsers();

// Code to initialize GridView
        var g = new GridView('ptable');
         g.Init();
         InitPaging(g);

        try
      {
            var tablefields =
         {
            sortOrder: 0,
            fields:
             [
              { name:'id',
                col: 0 },
			  { name:'Note_time',
                col: 1 },
			  { name:'Location_type',
                col: 2 },
              { name:'Event',
                col: 3 },
			  { name:'Device_ID',
                col: 4 },
              { name:'Location',
                col: 5 },
			  { name:'Message_systemState',
                col: 10 }
             ]
         };
         g.SetTableFields(tablefields);
       } catch (e)
       {
          alert('tablefields error ' + e.message);
       }
    </script>
<script type="text/javascript">
			$('.datefuelpicker').datepicker({'format': 'yyyy-mm-dd', 'language': 'uk'});
</script>
	</div>
	{{> footer}}
</body>
</html>
