<!-- 20200721 форма формирование мониторинга валидаций и действий водителей из списка  формуляров + валидаторы-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Список формулярів</title>
	<link rel="stylesheet" type="text/css" href="tcal.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="stylesheet" type="text/css" href="gridview.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap-datepicker.css" />
    <link rel="stylesheet" type="text/css" href="Chart.min.css">
	<script type="text/javascript" src="tcal.js"></script>
	<script src="gridview.js"></script>
	<script src="jquery.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
	<script type="text/javascript" src="bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="bootstrap-datepicker.uk.min.js"></script>
	<script type="text/javascript" src="gridview.js"></script>

	<style>
		#zatemnenie {
			background: rgba(102, 102, 102, 0.5);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: auto;
			display: none;
		}

		#okno {
			width: 350px;
			height: 350px;
			text-align: center;
			padding: 15px;
			border: 3px solid #0000cc;
			border-radius: 10px;
			color: #0000cc;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			background: #fff;
		}

		#zatemnenie:target {
			display: block;
		}

	</style>

</head>

<body>
    {{> loader}}
	{{> menu}}
	{{> header}}
    {{> modalLegend}}

    <img class="rounded-circle" id="profile-preview" src="img/user.png" style="float: right; padding-top: 15px; cursor: pointer; ">
    {{> profile}}
	<h2 id="DateInfo" align="center"></h2>
	<input type="hidden" name="selectReport" id="selRep" value="10">

	<div class="modal">
		<!-- Place at bottom of page -->
	</div>

    <div class="external-borders">
        <label for="dateCreate"> </label>
		<div class="form-group" style="float: left">
			<select name="rezs" id="rezs" onchange="addChange()" class="form-control" style="width:300px;">
				{{#each repps}}
				<option value={{this.idname}}>{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="input-group date datefuelpicker" data-provide="datepicker" style="float: left">
			<input type="text" class="form-control" id="datebegin" name="datebegin">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-th"></span>
			</div>
		</div>
		<!--<label style="background-color:#00ffa1">( все гаразд )</label>-->
		<!--<label style="background-color:#ffff00">( робота з відхиленнями )</label>-->
		<!--<label style="background-color:#D3D3D3">( наявні проблеми )</label>-->
		<!--<label style="background-color:#FF7F00">( потребує огляду )</label>-->


		<div id="ten_2">
			<table id="col" class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>№ Завдання (факт)</th>
						<th>РО (Борт. №)</th>
						<th>Тб водія</th>
						<th>Мар-вип-зміна</th>
						<!--<th>Дата</th>-->
						<th>Початок</th>
						<th>Кінець</th>
						<th>Водій</th>
						<th>Стан системи</th>
						<th>Рейс</th>
						<th>Валідацій</th>
						<th>Обладнання</th>
                        <!--<th>Валідатори</th>-->
						<!--<th>Термінал</th>-->
                        <!--<th>Статус</th>-->
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
    </div>
		<script>
			//Ожидание списка формуляров :)
			var gCheck = true;
			$body = $("body"); $(document).on({ ajaxStart: function () { if (gCheck) { $body.addClass("loading"); } }, ajaxStop: function () { $body.removeClass("loading"); } });
			var MedS = [];//инициализация глобального массива для хранения данных с мед. службы
			var Vtk = [];//инициализация глобального массива для хранения данных с ОТК
			var date = new Date();
			var DateNow = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
			document.getElementById('datebegin').value = DateNow;
			GetUsers();//Получение списка формуляров
			var gCheck = true;
			$body = $("body"); $(document).on({ ajaxStart: function () { if (gCheck) { $body.addClass("loading"); } }, ajaxStop: function () { $body.removeClass("loading"); } });

            document.getElementById('name-menu-section').innerHTML = "Моніторинг стану оплати";

			// Получение всех формуляров
			function GetUsers() {
				//GetMed();
				//GetVtk();
                document.getElementById("loader").style.display = "block";
				var tDate = document.getElementById('datebegin').value;
				var data4 = document.getElementById('selRep').value; //текущая филия
				var tempDateH = new Date();
				var tempTimeH = tempDateH.getHours() + ":" + (tempDateH.getMinutes() < 10 ? "0" + tempDateH.getMinutes() : tempDateH.getMinutes());
				document.getElementById('DateInfo').innerHTML = " Оперативний моніторинг стану оплати на дату " + tDate + ", час " + (tempTimeH < 10 ? "0" + tempTimeH : tempTimeH) + ":";
				$.ajax({
					url: "/api/formulars_form/",
					type: "POST",
					contentType: "application/json",
					data: JSON.stringify({
						tDate: tDate,
						tData4: data4
					}),
					success: function (users) {
						gCheck = false;
						if (users.length == 0) {
							alert("Формулярів на цю дату — не знайдено.")
						} else {
							var rows = "";
							$.each(users, function (index, user) {
								var tempEnd = 0;
								var tempDate = new Date();

								if (tempDate.getHours() < 4) {
									var tempTime = 60 * (24 + tempDate.getHours()) + tempDate.getMinutes();
								} else {
									var tempTime = 60 * tempDate.getHours() + tempDate.getMinutes();
								};

								//var tempTime = 60*tempDate.getHours()+tempDate.getMinutes();
								var dutyBeg = 60 * user.factWorkHeaderBegin.substr(11, 2) + Number(user.factWorkHeaderBegin.substr(14, 2));
								if (user.factWorkHeaderEnd.substr(9, 1) === "2") {
									tempEnd = Number(user.factWorkHeaderEnd.substr(11, 2)) + 24;
									//alert(user.factWorkHeaderEnd);
								} else {
									tempEnd = Number(user.factWorkHeaderEnd.substr(11, 2));
									//alert(user.factWorkHeaderEnd);
								};
								//var dutyEnd = 60*user.factWorkHeaderEnd.substr(11,2)+Number(user.factWorkHeaderEnd.substr(14,2));
								var dutyEnd = 60 * tempEnd + Number(user.factWorkHeaderEnd.substr(14, 2));
								//alert(tempDate.getHours()+" - "+user.factWorkHeaderBegin.substr(11,5)+" - "+ user.factWorkHeaderEnd.substr(11,5));
								//alert(tempTime+" - "+dutyBeg+" - "+ dutyEnd);
								// только открытые работающие формуляры
								if (tempTime > dutyBeg - 1 && tempTime < dutyEnd + 1 && user.factWorkHeaderisClosed == 0) {
									rows += row(user)
								};
							})
							$("#col").append(rows);
                            document.getElementById("loader").style.display = "none";
						}
					},
					error: function (error) { alert("Невідома помилка...") }
				});
			}
			//Получение массива данных с АРМ:медицина за текущие сутки
			function GetMed() {
				var tDate = document.getElementById('datebegin').value;
				$.ajax({
					url: "/api/formulars_med/",
					type: "POST",
					contentType: "application/json",
					data: JSON.stringify({
						tDate: tDate
					}),
					success: function (users2) {
						MedS = users2;
					}
				});
			}
			//Получение массива данных с АРМ:втк за текущие сутки
			function GetVtk() {
				var tDate = document.getElementById('datebegin').value;
				$.ajax({
					url: "/api/formulars_vtk/",
					type: "POST",
					contentType: "application/json",
					data: JSON.stringify({
						tDate: tDate
					}),
					success: function (users2) {
						Vtk = users2;
					}
				});
			}

			//Получение массива данных с АРМ:втк за текущие сутки
			function GetDuty(duty) {
				var user = {
					trips: 1,
					validat: 0,
					tiket: 0,
					status: 0
				};
				//var tDate = document.getElementById('datebegin').value;
				//var tFilii = document.getElementById('datebegin').value;
				var typeFilii = getSelect("rezs");
				//alert(typeFilii);

				$.ajax({
					url: "/api/monduty/" + typeFilii,
					type: "GET",
					contentType: "application/json",
					success: function (user) {
						//alert("qqq");
						//alert(user.route);
					}
				});
				//alert("error");
				//return user
			}
			// прочитать тип транспорта Select
			function getSelect(id) {
				var i, o;
				var rez = "Інший";
				var sel = document.getElementById(id);
				var opt = sel.options;
				for (i = 0; i < opt.length; i++) {
					o = opt[i];
					if (o.selected == true) {
						rez = o.text;
						break;
					}
				}
				var ind = rez.indexOf("Ф");
				rez = rez.substr(ind + 1);
				var descr = "A";
				switch (true) {
					case (rez) > 0 && (rez) < 9:
						descr = "A";
						break;
					case (rez) > 8 && (rez) < 13:
						descr = "B";
						break;
					case (rez) > 12 && (rez) < 16:
						descr = "C";
						break;
					default:
						descr = "A";
				}

				return descr;
			}

			function addChange() {
				var o;
				var sel = document.getElementById('rezs');
				var opt = sel.options;
				for (var i = 0; i < opt.length; i++) {
					o = opt[i];
					if (o.selected == true) {
						document.getElementById('selRep').value = o.value;
						//alert(o.value);
						break;
					}
				}

				//window.location.reload(true);// перегружаем страницу
				$("table tbody").empty(); GetUsers();
			}

			// создание строки для таблицы
			var row = function (user) {
				var strBegin = user.factWorkHeaderBegin.replace(/1900-01-01T|:00.000Z/g, "");//Привидение данных времени к адекватному виду
				if (user.factWorkHeaderEnd.substr(9, 1) === "2") {
					var strEnd = user.factWorkHeaderEnd.replace(/1900-01-02T|:00.000Z/g, "");
				} else {
					var strEnd = user.factWorkHeaderEnd.replace(/1900-01-01T|:00.000Z/g, "");
				};

                if(strBegin.length > 3)
                    strBegin=strBegin.slice(0, -3);

				var userValidation = user.validation;

				if(userValidation)
				    if(userValidation.length > 3)
                        userValidation=userValidation.replace(/T/g, " ").slice(0, -3);

                var obTime = user.obtime;

                if(obTime)
                    if(obTime.length > 3)
                        obTime=obTime.replace(/T/g, " ").slice(0, -3);


				var rez = user.vipFilialID;
				var descrF = "";
				switch (true) {
					case (rez) > 0 && (rez) < 9:
						descrF = "A";
						break;
					case (rez) > 8 && (rez) < 13:
						descrF = "B";
						break;
					case (rez) > 12 && (rez) < 16:
						descrF = "C";
						break;
					default:
						descrF = "";
				}

				//Проверка наличие валидаций
				var strValid = " bgcolor='#D3D3D3'"; //подсвечиваем серым;
				//var strValid = "color='#FF7F00'"; //подсвечиваем красным ;
				var tempDate = new Date();
				var tempTime = 60 * tempDate.getHours() + tempDate.getMinutes();
				if (user.validation == 0) {
					var dutyvalid = 0
				} else {
					var dutyvalid = 60 * Number((user.validation).substr(0, 2)) + Number((user.validation).substr(3, 2));
				}
				if ((tempTime - dutyvalid) < 31 && (tempTime - dutyvalid) > -1) {
					strValid = " bgcolor='#87F630'";//подсвечиваем зеленым;
					//strValid =  "color='#00ffa1'";
				}
				if ((tempTime - dutyvalid) > 30 && (tempTime - dutyvalid) < 61) {
					strValid = " bgcolor='#FFFF00'"; //подсвечиваем желтый;
					//strValid = "color='#FFFF00'"; //подсвечиваем желтый;
				};

				//Проверка работы по формулярe

				var strTD = " bgcolor='#D3D3D3'";//подсвечиваем серым  	#D3D3D3 #adadad

				if (user.A2 == 0)
					strTD = " bgcolor='#87F630'";//подсвечиваем зеленым;
				if (user.A2 == 1)
					strTD = " bgcolor='#E1F037'"; //подсвечиваем желтый;
				if (user.A2 == 4) {
					var ndate = tempDate.getFullYear() + "-" + (tempDate.getMonth() < 9 ? "0" + (tempDate.getMonth() + 1) : (tempDate.getMonth() + 1)) + "-" +
						(tempDate.getDate() < 10 ? "0" + tempDate.getDate() : tempDate.getDate());
					if (user.smenTripCount === 0) {
						strTD = " bgcolor='#EDBB39'"; //подсвечиваем красный #D4EDBB39;
						//strTD = " bgcolor='#FF7F00'"; //подсвечиваем красный #D4EDBB39;
						//strTD = " bgcolor='#D4EDBB39'"; //подсвечиваем красный #D4EDBB39;
					} else {
						var duty1 = user.smenTripCount.substr(0, 10);
						//console.log(duty1);
						//console.log(ndate);
						if (!(duty1 == ndate)) {
							strTD = " bgcolor='#EDBB39'";
							//strTD = " bgcolor='#FF7F00'"; //подсвечиваем красный;
							//strTD = " bgcolor='#D4EDBB39'"; //подсвечиваем красный;
						}
					}
				};

				var descr = "";
				switch (user.A2) {
					case 0:
						descr = " Робота по формуляру";
						break;
					case 1:
						descr = " Робота з відхиленням";
						break;
					case 2:
						descr = " Пауза в роботі";
						break;
					case 3:
						descr = " Паузи в роботі";
						break;
					case 4:
						descr = " Потребує огляду";
						break;
					default:
						descr = " ";
				}

				var condytion = "Ні";
				if (user.cond == 1) condytion = "Так";
				var validatorBad = "";
				var monitorBad = "";
				if (user.Message_bad_validators) {
					validatorBad = user.Message_bad_validators;
				};
				if (user.Message_bad_driverInterface) {
					monitorBad = user.Message_bad_driverInterface;
				};

				return "<tr data-rowid='" + user.id + "'><td" + strTD + ">" +
					descrF + user.factWorkHeaderID + "</td>" +
					"<td" + strTD + ">" + user.PENumPe + "</td>" +
					"<td" + strTD + ">" + user.driversTabNum + "</td> <td" + strTD + ">" + user.marNum + "-" + user.vipNum + "-" + user.smenNum + "</td>" +
					//"<td" + strTD + ">" + user.factWorkHeaderDate +
					"</td>" + "<td" + strTD + ">" + strBegin.slice(0, -3) + "</td>" +
					"<td" + strTD + ">" + strEnd.slice(0, -3) + "</td>" +
					"<td" + strTD + ">" + user.driversName + "</td>" +
					"<td" + strTD + ">" + descr + "</td>" +
					"<td" + strTD + ">" + user.smenTripCount + "</td>" +
					"<td" + strValid + ">" + userValidation + "</td>" +
					"<td class='close'" +  "data-loc='" + user.id + "'" + " data-id='" + user.info + "'" + strTD + ">" + obTime + "<br>" + validatorBad + "<br>" + monitorBad + "</td></tr>"
					//"<td" + strTD + ">" + descr + "</td>" +
					//"<td" + " id=" + user.id + " " + strTD + "><a href='#' class='close'" + "data-loc='" + user.id + "'" + " data-id='" + user.info + "'><span class='text-danger glyphicon glyphicon-edit'></span></a></td>" + "</tr>";
			}

			// нажимаем на ссылку показать оборудование
			$("body").on("click", ".close", function () {
				window.location = "#zatemnenie";
				var data2 = $(this).data("id");//время  посылки оборудования
				var url = data2;
				document.getElementById('okno').innerHTML = url + "<br>" + "<a href='#" + $(this).data("loc") + "' class='close'>Закрити</a>";

				window.location = "#zatemnenie";
			})

			// нажимаем на ссылку Изменить (переход к ЕШЛ)
			$("body").on("click", ".editLink", function () {
				var data2 = $(this).data("id");//табельный
				var data3 = document.getElementById('datebegin').value;//текущая дата расчёта
				var data4 = document.getElementById('selRep').value;//текущая филия
				//alert(data4);
				var dataAll = data2 + "d" + data3 + "d" + data4;//генерируем строку для передачи одним параметром
				var url = "/formeshl" + dataAll
				window.location = url;//Открываем другую страницу (НЕ ИСПОЛЬЗУ AJAX-запрос)
			})

			// Инициализируем нашу таблицу как грид, дабы была возможность сортировки
			var g = new GridView('col');
			g.Init();
		</script>

		<script type="text/javascript">
			//Инициализация компонента календрря и отлов события смены датты
			$('.datefuelpicker').datepicker({ 'format': 'yyyy-mm-dd', 'language': 'uk' }).on('changeDate', function (e) { $('.datefuelpicker').datepicker('hide'); $("table tbody").empty(); GetUsers(); });
		</script>
	</div>
	<div id="zatemnenie">
		<div id="okno">


		</div>
	</div>
	 {{> footer}}
</body>

</html>
