@CHARSET "UTF-8";


span {
padding-left: 10px;
padding-right: 10px;
}

table 
{
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

td,th
{
  border: 1px solid #dddddd;	
  text-align: left;
  padding: 8px;	
}

tr:nth-child(even)
{
  background-color: #dddddd;
}

 .focus
{
/*  background-color:  #008080;  */    
  color: #fff;
  cursor: pointer;
  font-weight: bold;	
}

.selected
{
  background-color: #d9edf7;    
}

.asc:after
 {  content: "\25B2"; }
.desc:after
 
{ content: "\25BC"; }

.hidden
{
  display:none;	
}
 
 .found
{
  background-color: #008080; 
  color: #fff;
  font-weight: bold;	
} 
 
 .foundA
{
  background-color: #ff00fa;
  color: #ffa;
  font-weight: bold;	
} 

input:focus { outline: 2px orange solid }



